#main-navigation {
    position: relative;
    height: 100vh;
    background: rgb(255, 166, 0);
    overflow: hidden;
    z-index: 999;

    .columns {
        position: absolute;
        width: 100%;
        z-index: 999;

        aside {
            padding-top: 1rem;

            .menu-label {
                text-align: right;
            }

            .menu-list li {
                font-size: 1.4rem;
                text-align: right;
            }
        }
    }

    .underlay {
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        max-width: 50%;
        z-index: 10;
    }
}